<div class="container">
    <div class="row">
        <div class="col-2"><span style="font-weight: bold;">Numero Turno</span></div>
        <div class="col"><span>#00008</span></div>
    </div>
    <div class="row">
        <div class="col-2"><span style="font-weight: bold;">Orario Apertura</span></div>
        <div class="col"><span>20/12/2022 10:30</span></div>
    </div>
    <div class="row">
        <div class="col-2"><span style="font-weight: bold;">Biglietteria</span></div>
        <div class="col"><span>Salerno</span></div>
    </div>
    <div class="row">
        <div class="col-2"><span style="font-weight: bold;">Impiegato</span></div>
        <div class="col"><span>Mario Rossi</span></div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-2"><span style="font-weight: bold;">Totale Contanti</span></div>
        <div class="col"><span>1500</span></div>
    </div>
    <div class="row">
        <div class="col-2"><span style="font-weight: bold;">Totale Carte</span></div>
        <div class="col"><span>3000</span></div>
    </div>
    <div class="row">
        <div class="col-2"><span style="font-weight: bold;">Totale Voucher</span></div>
        <div class="col"><span>200</span></div>
    </div>
    <div class="row">
        <div class="col-2"><span style="font-weight: bold;">Totale Incasso</span></div>
        <div class="col"><span>4700</span></div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-2"><span style="font-weight: bold;">Totale Biglietti</span></div>
        <div class="col"><span>300</span></div>
    </div>
    <div class="row">
        <div class="col-2"><span style="font-weight: bold;">Totale Annullati</span></div>
        <div class="col"><span>10</span></div>
    </div>
    <div class="row" style="margin-bottom: 0px;margin-top: 20px;">
        <div class="col"><button class="btn btn-success" type="button">Chiudi turno e Stampa</button></div>
    </div>
</div>
