<div class="container" style="margin-bottom: 0px;max-width: none;margin-top: -15px;">
        <div class="row">
            <div class="col"><span style="color: var(--bs-red);font-size: 12px;">Attenzione stai lavorando con un turno non aperto oggi</span></div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 15px;max-width: none;">
        <div class="row">
            <div class="col-2"><span style="font-weight: bold;">Data partenza</span></div>
            <div class="col-2"><span style="font-weight: bold;">Porto partenza</span></div>
            <div class="col-2"><span style="font-weight: bold;">Porto arrivo</span></div>
        </div>
        <div class="row">
            <div class="col-2"><input type="date" style="margin-right: 30px;"></div>
            <div class="col-2"><select style="margin-right: 5px;">
                    <option value="12" selected="">Napoli beverello</option>
                    <option value="13">Salerno</option>
                    <option value="14">Castellammare di stabia</option>
                </select></div>
            <div class="col-2"><select style="margin-right: 5px;">
                    <option value="12" selected="">Napoli beverello</option>
                    <option value="13">Salerno</option>
                    <option value="14">Castellammare di stabia</option>
                </select></div>
            <div class="col-2"><a href="#">Inverti tratta</a></div>
        </div>
    </div>
    <div class="container" style="max-width: none;margin-right: 0px;">
        <div class="row" style="padding-right: 5px;padding-left: 5px;">
            <div class="col-5" style="border-style: none;text-align: center;font-weight: bold;"><span>Corse</span></div>
            <div class="col-3" style="text-align: center;font-weight: bold;border-style: none;"><span>Tariffe</span></div>
            <div class="col-4" style="text-align: center;font-weight: bold;border-style: none;"><span>Carrello</span></div>
        </div>
        <div class="row" style="padding-right: 5px;padding-left: 5px;">
            <div class="col-5" style="border-style: solid;text-align: center;background: var(--bs-white);">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-1" style="padding-right: 0px;padding-left: 5px;"></div>
                            <div class="col-4 text-truncate"><span>Tratta</span></div>
                            <div class="col-1"><span></span></div>
                            <div class="col-1"></div>
                            <div class="col-1"></div>
                            <div class="col-1"><span>Max pax</span></div>
                            <div class="col-1"><span>Disp</span></div>
                            <div class="col-1"><span>Allot</span></div>
                            <div class="col-1"></div>
                        </div>
                        <div class="row">
                            <div class="col-1" style="padding-right: 0px;padding-left: 5px;"><input type="radio"></div>
                            <div class="col-4 text-truncate"><span>Castellammare - seiano - sorrento -capri</span></div>
                            <div class="col-1"><span>10:30</span></div>
                            <div class="col-1"><span>-</span></div>
                            <div class="col-1"><span>12:15</span></div>
                            <div class="col-1"><span>500</span></div>
                            <div class="col-1"><span>239</span></div>
                            <div class="col-1"><span>239</span></div>
                            <div class="col-1"><i class="fa fa-check-circle-o" style="color: var(--bs-green);"></i></div>
                        </div>
                        <div class="row">
                            <div class="col-1" style="padding-right: 0px;padding-left: 5px;"><input type="radio" disabled=""></div>
                            <div class="col-4 text-truncate"><span>Castellammare - seiano - sorrento -capri</span></div>
                            <div class="col-1"><span>10:30</span></div>
                            <div class="col-1"><span>-</span></div>
                            <div class="col-1"><span>12:15</span></div>
                            <div class="col-1"><span>500</span></div>
                            <div class="col-1"><span>239</span></div>
                            <div class="col-1"><span>239</span></div>
                            <div class="col-1"><i class="fa fa-ban" style="color: var(--bs-red);"></i></div>
                        </div>
                        <div class="row">
                            <div class="col-1" style="padding-right: 0px;padding-left: 5px;"><input type="radio"></div>
                            <div class="col-4 text-truncate"><span>Castellammare - seiano - sorrento -capri</span></div>
                            <div class="col-1"><span>10:30</span></div>
                            <div class="col-1"><span>-</span></div>
                            <div class="col-1"><span>12:15</span></div>
                            <div class="col-1"><span>500</span></div>
                            <div class="col-1"><span>239</span></div>
                            <div class="col-1"><span>239</span></div>
                            <div class="col-1"><i class="fa fa-check-circle-o" style="color: var(--bs-green);"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3" style="border-style: solid;background: var(--bs-white);">
                <div class="row">
                    <div class="col d-xl-flex mx-auto align-items-xl-center"><span>Adulti residente</span></div>
                    <div class="col-2 d-xl-flex align-items-xl-center justify-content-xxl-end" style="padding-right: 0px;"><span>8,00</span></div>
                    <div class="col-1" style="padding-left: 0px;"><span>€<br></span></div>
                    <div class="col d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-right: 0px;padding-left: 0px;"><i class="fa fa-minus"></i><span style="margin-left: 10px;margin-right: 10px;">0</span><i class="fa fa-plus"></i></div>
                </div>
            </div>
            <div class="col-4" style="border-style: solid;background: var(--bs-white);">
                <div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><i class="fa fa-remove" style="color: var(--bs-red);"></i><span style="text-align: center;font-weight: bold;">Capri - Napoli Beverello 02/01/2022 10:30 - 12:15<br></span></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><i class="fa fa-minus"></i><span style="margin-left: 10px;margin-right: 10px;">2</span><i class="fa fa-plus"></i></div>
                        <div class="col" style="text-align: left;"><span style="text-align: center;">Adulto</span></div>
                        <div class="col-2 text-end" style="text-align: left;padding-right: 1px;"><span style="text-align: center;">24,00</span></div>
                        <div class="col-1 text-start" style="text-align: left;padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><i class="fa fa-minus"></i><span style="margin-left: 10px;margin-right: 10px;">1</span><i class="fa fa-plus"></i></div>
                        <div class="col" style="text-align: left;"><span style="text-align: center;">Bambino</span></div>
                        <div class="col-2 text-end" style="text-align: left;padding-right: 1px;"><span style="text-align: center;">24,00</span></div>
                        <div class="col-1 text-start" style="text-align: left;padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><span style="text-align: center;font-weight: bold;">Napoli Beverello - Capri 07/01/2022 10:30 - 12:15<br></span></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><i class="fa fa-minus"></i><span style="margin-left: 10px;margin-right: 10px;">2</span><i class="fa fa-plus"></i></div>
                        <div class="col" style="text-align: left;"><span style="text-align: center;">Adulto</span></div>
                        <div class="col-2 text-end" style="text-align: left;padding-right: 1px;"><span style="text-align: center;">24,00</span></div>
                        <div class="col-1 text-start" style="text-align: left;padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><i class="fa fa-minus"></i><span style="margin-left: 10px;margin-right: 10px;">1</span><i class="fa fa-plus"></i></div>
                        <div class="col" style="text-align: left;"><span style="text-align: center;">Bambino</span></div>
                        <div class="col-2 text-end" style="text-align: left;padding-right: 1px;"><span style="text-align: center;">24,00</span></div>
                        <div class="col-1 text-start" style="text-align: left;padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><span style="text-align: center;font-weight: bold;">Capri - Ischia 07/01/2022 12:30 - 12:15<br></span></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><i class="fa fa-minus"></i><span style="margin-left: 10px;margin-right: 10px;">2</span><i class="fa fa-plus"></i></div>
                        <div class="col" style="text-align: left;"><span style="text-align: center;">Adulto</span></div>
                        <div class="col-2 text-end" style="text-align: left;padding-right: 1px;"><span style="text-align: center;">24,00</span></div>
                        <div class="col-1 text-start" style="text-align: left;padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: left;"><i class="fa fa-minus"></i><span style="margin-left: 10px;margin-right: 10px;">1</span><i class="fa fa-plus"></i></div>
                        <div class="col" style="text-align: left;"><span style="text-align: center;">Bambino</span></div>
                        <div class="col-2 text-end" style="padding-right: 1px;"><span style="text-align: center;">24,00</span></div>
                        <div class="col-1 text-start" style="text-align: left;padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-9" style="text-align: right;font-weight: bold;"><span>Totale provvisorio</span></div>
                        <div class="col-2" style="padding-right: 1px;text-align: right;"><span>350,00</span></div>
                        <div class="col-1" style="padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;padding-top: 5px;">
                        <div class="col" style="text-align: right;font-weight: bold;margin-bottom: 0px;"><button class="btn btn-warning" type="button">Inserimento dati aggiuntivi</button></div>
                        <div class="col" style="text-align: right;font-weight: bold;margin-bottom: 0px;"><button class="btn btn-info" type="button">Calcola prezzo finale</button></div>
                    </div>
                    <div class="row">
                        <div class="col-9" style="text-align: right;font-weight: bold;"><span>Sconto estate 10 %</span></div>
                        <div class="col-2" style="padding-right: 1px;text-align: right;"><span>35,00</span></div>
                        <div class="col-1" style="padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                    <div class="row">
                        <div class="col-9" style="text-align: right;font-weight: bold;"><span>Totale finale</span></div>
                        <div class="col-2" style="padding-right: 1px;text-align: right;"><span>315,00</span></div>
                        <div class="col-1" style="padding-left: 0px;"><span style="text-align: center;">€<br></span></div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col"><select>
                                <optgroup label="Metodo di pagamento">
                                    <option value="12" selected="">This is item 1</option>
                                    <option value="13">This is item 2</option>
                                    <option value="14">This is item 3</option>
                                </optgroup>
                            </select></div>
                        <div class="col text-end"><button class="btn btn-success" type="button">Conferma e stampa</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
